@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nosifer&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anta&family=Nosifer&display=swap');

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

:root {
    --accent-color: rgb(220, 20, 80);
    --clear-acnt-color: rgba(255, 106, 101, 0.212);
    --bg-color: rgb(19, 19, 19);
    --border: 3px solid white;
}


body {
    background-color: var(--bg-color);
    color: white;
    /* font-family: 'Montserrat', sans-serif; */
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

#bg-img {
    width: 100%;
    position: absolute;
    z-index: -1;
    opacity: 0.4;
    transform: scale(1.2) translateY(-60px);
    filter: blur(2px);
}

/* .gradient {
    background-image: linear-gradient(45deg, #17171A, #EE424E, #FFDF57, #6690DB, #348AA7);
    background-size: 300% 300%;
    animation: bg-gradient 12s ease-in-out infinite;
} */

.text {
    font-size: 1.9em;
    line-height: 1.4;
    color: #fff;
    text-shadow: 0px 0px 10px rgba(255, 77, 77, 0.9);
    letter-spacing: .05em;
}

/* .section1 {
    background-size: cover;
    height: 100vh;
} */

.bg {
    background-color: rgba(255, 255, 0, 0.384);
}

#scrollToTopBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 70px;
    z-index: 2;
    filter: invert(100%);
    background: none;
    transition: all 0.8s ease;
}
#scrollToTopBtn:hover{
    transform: scale(1.1);
}

/* scroll animation */
.hidden{
    opacity: 0;
    filter: blur(4px);
    transform: translateX(-60px);
    transition: all 1s ease-out;
}
.hidden2{
    opacity: 0;
    filter: blur(4px);
    transform: translateY(-60px);
    transition: all 2s ease-out;
}
.hidden3{
    opacity: 0;
    filter: blur(4px);
    transform: translateX(60px);
    transition: all 1s ease-out;
}


.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0) translateY(0);
    transition: all 1s ease-out;
}


nav>a {
    text-decoration: none;
    font-size: 1.15rem;
    color: white;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: 0.1s ease;
}
nav:visited{
    color: white;
}
nav>a:hover {
    transform: scale(1.1);
    text-shadow: 0 0 5px var(--accent-color);
}

.navbar {
    position: fixed;
    top: 0px;
    right: 10px;
    padding: 10px;
    /* margin-top: 30px; */
    z-index: 2;
    display: flex;
    flex-flow: row-reverse;
    gap: 30px;
    min-width: 200px;
    margin-left: 20px;
}
.navbar > a > img {
    width: 30px;
    filter: invert(100%);
}

.header {
    display: flex;
    position: fixed;
    top: 0px;
    align-items: center;
    padding: 20px;
    background-image: linear-gradient(black, black, rgba(255, 255, 255, 0.0001));
    border-top: 2px solid var(--accent-color);
    box-shadow: inset 0px 20px 20px -20px var(--accent-color);
    z-index: 1;
}

.header-logo {
    flex-grow: 1;
}

#headerlogoimage {
    width: 450px;
    transform: translateY(5px);
}

.menu {
    /* width: 20%; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 1.2rem;
}

#menu-icon {
    cursor: pointer;
    width: 2rem;
    padding: 0.2rem;
    margin: 0rem 0.25rem 0rem 0.25rem;
    transition: all 150ms ease-out;
    position: relative;
}

#menu-icon:hover {
    transform: rotate(-90deg) scale(1.3);
    border-radius: 5px;
    box-shadow: 0 0 0.4rem var(--accent-color);
}

.menu-items {
    cursor: pointer;
    font-weight: 500;
    letter-spacing: 0.1rem;
    padding: 0.2rem;
    margin: 0rem 0.25rem 0rem 0.25rem;
    border: 2px solid rgba(255, 255, 255, 0);
    border-radius: 0.7rem;
    transition: all 150ms ease 0ms, border 150ms ease-out 0ms;
}

.menu-items:hover {
    transform: translateY(0.25rem);
    padding: 0.2rem;
    border-bottom: solid 2px var(--accent-color);
    text-shadow: 0.1rem 0.1rem 0.2rem var(--accent-color);
}

.headings {
    color: white;
    text-align: center;
    text-shadow: 0.2rem 0.2rem 0.5rem var(--accent-color);
}

.banner {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 100vh;
    overflow: hidden;
}

.banner h1 {
    color: white;
    text-align: center;
}

.banner p {
    font-family: 'Nosifer', sans-serif;
    font-size: xx-large;
    padding: 20px;
    text-align: center;
}

#banner-bg {
    object-fit: cover;
    position: relative;
    opacity: 0.2;
    width: 100%;
    height: 100vh;
    pointer-events: none;

}

.vid-container {
    width: 100%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, ), rgba(0, 0, 0, 0));

}

.banner-texts {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 90px;
    margin-bottom: 220px;
    animation: hero-texts 4s ease-in-out infinite;
}

/* .banner-images{
    width: 40%;
    height: 400px;
    object-fit: cover;
    display: flex;
    justify-content: center;
}
.banner-images img{
    height: 100%;
} */
.banner-slogans {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
}

.divider {
    width: 100%;
    overflow: hidden;
    height: 240px;
    background-image: url("../images/divider.png");
    filter: blur(10px);
    background-repeat: repeat-x;
    background-size: fill;
    transform: translateY(-130px);
}

.hero-container {
    margin-top: -5%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    position: relative;
    z-index: 1;
}

.hero-logo {
    display: flex;
    justify-content: center;
    width: 100%;
}

.hero-logo img {
    width: 70%;
    transform: translateX(15px);
}

.hero1 {
    width: 45%;
    padding: 2%;
    margin-left: 2%;
}

.hero-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    /* width: 30%; */
    background: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.7rem;
    font-weight: 800;
    color: var(--accent-color);
    padding: 2%;
    border: 3px solid var(--accent-color);
    border-radius: 10px;
    transition: all 0.3s ease;
    backdrop-filter: blur(4px);
}

.hero-btn img {
    width: 30px;
    opacity: 0;
    transition: opacity 0.3s ease; /* Add transition for opacity */
}

.hero-btn:hover img {
    opacity: 1; /* Show the image on hover */
}

.hero-btn:hover {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: var(--accent-color);
    box-shadow: 0 0 2rem var(--accent-color);
    /* transform:skewY(50px); */
}

.button {
    margin: 50px 0 0 0;
    padding: 1.3rem;
    width: 150px;
    font-size: 1.5rem;
    background: none;
    border: solid 2px;
    box-shadow: 0px 0px 10px #ffffff;
    transition: 0.2s ease;
    cursor: pointer;
}

.button:hover {
    background-color: rgba(255, 255, 255, 0.219);
    border: solid 2px var(--accent-color);
    box-shadow: 0px 0px 20px #ffffff;
    transform: scale(1.1);
}



.me {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    /* height: 90vh; */
    gap: 3%;
    margin-top: 100px;

}

.about-me {
    font-size: 1.7em;
    line-height: 1.4;
    color: #fff;
    text-shadow: 0px 0px 10px rgba(255, 77, 77, 0.9);
    letter-spacing: .05em;
    animation: about-me ease-out 1s;
    margin: 0 0 0 5%;
    /* min-width: 40%; */
}
.about-me > h1 {
    text-align: start;
}

#whoami {
    text-shadow: 0 0 10px cyan;
}

.floating-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: yellow; */
    /* make image un-selectable */
    pointer-events: none;
    /* object-fit: contain; */
}


#float1 {
    width: 800px;
    /* opacity: 0.5; */
    filter: brightness(0.7);
    border-radius: 40%;
    box-shadow: 0 0 50px rgb(75, 168, 255);
    animation: floating1 5s infinite ease-in-out;
    /* z-index: 0; */
}

#float2 {
    position: absolute;
    width: 700px;
    transform: translateX(-100%) translateY(45%);
    animation: floating2 7s infinite ease-in-out;
}

.cards {
    margin: 40px 0 40px 0;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}
.cards img{
    height: 100px;
    filter: invert(100%) contrast(100);
}
.cards p{
    font-size: 0.7em;
    text-align: center;
}
.cards div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}


.hero-2 {
    width: 45%;
    height: 500px;
    object-fit: scale-down;
    padding: 1%;
    /* background-image: url(../images/3.jpg); */
}

.hero-2-pics {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

#hero-car {
    position: relative;
    /* z-index: 1; */
    animation: f-car 7s infinite ease-in-out;
}

#hero-car2 {
    position: absolute;
    z-index: 1;
    display: none;
}

#purple-sphere {
    position: absolute;
    transform: scale(1) translateX(15%) translateY(-20%);
    max-height: 750px;
    /* opacity: 0.5; */
    filter: brightness(0.5);
    /* make image un-selectable */
    pointer-events: none;
    animation: p-sphere 5s infinite ease-in-out;
    z-index: -1;

}

.container1 {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 50px;
}

#urus-vid {
    max-height: 500px;
}

.container1-child1 {
    padding: 2%;
    width: 40%;
}

/* slideshow */
.slide-container {
    padding: 5%;
    display: flex;
    flex-wrap: wrap;
}

.slide-wrapper {
    display: flex;
    flex-grow: 1;
    flex-basis: 50%;
    box-shadow: 0 0 20px white;
    border-radius: 10px 50% 10px 50%;
    aspect-ratio: 16/9;
    overflow: hidden;
    scroll-snap-type: x mandatory;
    pointer-events: none;
    animation: slideshadow 2s infinte alternate;
}

.slide-wrapper img {
    animation: slide 15s ease infinite;
    object-fit: contain;
    flex: 1 0 100%;
    scroll-snap-align: start;

}

.wallpaper-text {
    flex-grow: 1;
    display: flex;
    flex-basis: 700px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    padding: 2%;
    padding-left: 4%;
    font-size: 2rem;
}

.box-shadow {
    animation: boxshadow 3s infinite alternate;
}



footer {
    background-color: var(--bg-color);
    color: white;
    padding: 10px;
    text-align: center;
}


.faq-section {
    padding: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 25%;
    
}
.faq-section h1 {
    text-align: center;
    margin-bottom: 20px;
}

summary {
    font-size: 2em;
    line-height: 1.4;
    color: #fff;
    text-shadow: 0px 0px 10px rgba(255, 77, 77, 0.9);
    letter-spacing: .05em;
}

details p {
    padding: 3%;
    font-size: 1.2em;
    line-height: 1.4;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}


.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* gap: 2%; */
    
}
/* CONTACT */

.contact-container {
    min-width: 50%;
    margin-top: 5rem;
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 30px 0;
}

.contact-container h1,
.contact-container p {
    text-align: center;
    margin-bottom: 16px;
}

.contact-container p {
    font-size: 1rem;
    margin-bottom: 30px;
}

form {
    width: min(650px, 95%);
    display: flex;
    flex-direction: column;
}


input[type="text"],
select,
textarea,
input[type="email"] {
    font-size: 1rem;
    /* width: 100%; */
    padding: 14px;
    background-color: transparent;
    color: #fff;
    outline: 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 10px 0 20px;
    resize: vertical;
}


input[type="text"]:focus-visible,
select:focus-visible,
input[type="email"]:focus-visible,
textarea:focus-visible {
    border: 2px solid var(--accent-color);
}
















/* changes when resolution less than 900px */
@media only screen and (max-width: 900px) {

    #headerlogoimage {
        width: 100%;
        /* height: 100%; */
    }

    .banner p {
        font-size: x-large;
    }

    .hero-2 {
        width: 100%;
        height: 250px;
    }

    .hero1 {
        width: 80%;
    }

    .header {
        align-items: flex-start;
    }

    .menu {
        flex-direction: column;
        width: 100%;
        position: absolute;
        background-image: linear-gradient(rgba(0, 0, 0, 0.781), rgba(255, 0, 0, 0.781));
        display: none;
    }

    .menu-items {
        padding: 3%;
    }

    .menu-items:hover {
        transform: translateY(0.25rem);
        padding: 3%;
        border-bottom: solid 2px var(--accent-color);
        text-shadow: 0.1rem 0.1rem 0.2rem var(--accent-color);
    }

    #whoami::before {
        content: '\A'; /* Insert a line break */
        white-space: pre; /* Ensure the line break is rendered */
    }
    
    .me {
        flex-wrap: wrap;
        padding: 5%;
        /* height: auto; */
    }

    .about-me {
        /* font-size: 1.2em; */
        line-height: 1.7;
        text-align: center;
        width: 80%;
    }

    .about-me p {
        padding: 3% 0 0 0;
    }

    #float1 {
        transform: translateX(100px);
        width: 80%;
    }

    #float2 {
        width: 65%;
    }

    .dynamic-width {
        width: 100%;
    }


    #purple-sphere {
        width: 400px;
        right: 20%;
        /* transform: translateX(30%) translateY(-30%); */
    }

    .slide-wrapper {
        width: 100%;
        flex-basis: 600px;
    }

    #logo {
        width: 200px;
    }

    .banner-texts {
        width: 400px;
    }

    .hero-logo img {
        width: 100%;
    }

    .floating-container {
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
    }

    #float1 {
        width: 100%;
        transform: translateX(30%);
    }

    #float2 {
        width: 80%;
        transform: translateX(-100%) translateY(45%);
    }

    form {
        width: 90%;
        /* transform: translateX(-15px); */
    }

    #faq {
        margin-top: 2rem;
    }

    .faqs {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .faq-section{
        width: 100%;
    }

    .cards p{
        font-size: 0.6em;
    }
    .cards img{
        height: 70px;
    }

    .about-me h1{
        font-size: 1.9em;
    }
    #whos-spoily {
        /* Add text-align: center to the parent element */
        text-align: center;
    }
    
    #whos-spoily::before {
        content: url("../images/smol-spoily.png");
        display: block;
        min-width: 30%;
        margin: 0 auto; /* Add margin: 0 auto; to center the image */
        border-radius: 50%; /* Crop the image into a circle */
        
    }
    #bg-img {
        width: 100%;
        position: absolute;
        z-index: -1;
        opacity: 0.4;
        transform: scale(2.5) translateY(100px) rotate(90deg);
        filter: blur(2px);
    }
    #bg-img::after{
        content: url("../images/lines.png");
        width: 100%;
        position: absolute;
        z-index: -1;
        opacity: 0.4;
        transform: scale(2.5) translateY(100px) rotate(90deg);
        filter: blur(2px);
    }
    
    
}





/* Keyframes */
@keyframes bg-gradient {

    0%,
    100% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 100%;
    }
}

@keyframes f-car {
    0% {
        transform: translateY(0) translateX(1%);
    }

    50% {
        transform: translateY(-2%) translateX(-1%);
    }

    100% {
        transform: translateY(0) translateX(1%);
    }
}

@keyframes p-sphere {
    0% {
        transform: translateX(15%) translateY(-18%);
    }

    50% {
        transform: translateX(15%) translateY(-20%);
    }

    100% {
        transform: translateX(15%) translateY(-18%);
    }

}


@keyframes floating1 {

    0%,
    100% {
        transform: translateY(-1%);
    }

    50% {
        transform: translateY(1%);
    }

}

@keyframes floating2 {

    0%,
    100% {
        transform: translateX(-102%) translateY(44%);
    }

    50% {
        transform: translateX(-100%) translateY(46%);
    }
}

@keyframes hero-texts {

    0%,
    100% {
        transform: translateY(0);
    }

    60% {
        transform: translateY(0);
    }

    80% {
        transform: translateY(-30px);
    }
}


@keyframes slide {

    0%,
    100% {
        transform: translateX(0);
    }

    20% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-100%);
    }

    45% {
        transform: translateX(-100%);
    }

    50% {
        transform: translateX(-200%);
    }

    70% {
        transform: translateX(-200%);
    }

    75% {
        transform: translateX(-300%);
    }

    95% {
        transform: translateX(-300%);
    }

}